.block{
 display: flex;
 flex-direction: row;
justify-content: space-between;
}

em{
    color: skyblue;
    display: block;
    
}

em, h1{

}

em, h1, p{    
    margin-left: 20%;
}
.montagne {
    position: absolute;
    height: 25%;
    top: 40%;
    left: 10%;
    
}

.bouton{
    position: absolute;
    top: 47%;
    left: 55%;
    /* transform: translate(-50% -50%); */
}

.btn{
display: flex;
  background: skyblue;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 20px;
}

.activité{
    margin: 0px 10%;
}
.activité1{
    float: left;
    width: 30%;
}
.activité2{
    float: right;
    width: 40%;
    font-style: normal;
    font-weight: bolder;
} 

.activité2, .activité2.1, .act-left, .act-right{
    width: 50%;
    float: :right;
}

