*{
    padding: 0%;
    margin: 0%;
}
body{
    background-image: url(../images/plage.jpg);
    background-size: cover;
    height: 90px;
}

.logo a{
    color: #fff;
    padding: 0px 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
}

ul{
    list-style: none;
    float: right;
    display: flex;
    margin-top: 20px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    font-weight: 500;
    transition: 0.6 ease;
}

ul li a :hover{
    background: #fff;
    color: black;
}

ul li .active a{
    background: #fff;
    color: #000;
}

.principale{
    max-width: 114rem;
    margin: 0 auto;
}

.titre{
    position: absolute;
    top: 50%;
    right: 50%;
    transform:translate(-50% -50%) ;
    margin: 20px;
}

.titre h1{
    color: #fff;
    font-size: 70px;
}

p{
    color: #fff;
}

.bouton{
    position: absolute;
    top: 105%;
    right: 90%;
    transform: translate(-50% -50%);
}

.btn{
display: flex;
  background: skyblue;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 20px;
}